.navbar {
    display: flex;
    height: 64px;
    border-bottom: 1px solid #ededf5;
    align-items: center;
    font-size: 14px;
    color: #7b8191;

    .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px s;
        }

        .items {
            display: flex;
        }
    }
}
