@import '../../../App.scss';

.charts {
    height: 26rem;
}

.list_container {
    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;
    border-radius: 10px;

    .list_title {
        color: $text;
    }
}
