.App {
    display: flex;
}

.App__Content {
    position: relative;
    left: 15%;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 15%);
    background-color: aqua;
}

.warpper {
    // margin: 2rem 15rem;
    padding: 2;
}
