$primary-color: #38cab3;
$text: #7b8191;

.containers {
    display: flex;

    .App__Content {
        padding-left: 15rem;
        flex: 7;

        .warpper {
            padding-top: 5rem;
        }
    }

    .CircularProgressbar {
        .CircularProgressbar-path {
            stroke: $primary-color !important;
        }
    }

    .status {
        border-radius: 5px;
        color: #fff;

        &.approved {
            background-color: #24d5b8;
        }
        &.pending {
            background-color: #f34343;
        }
        &.Delivering {
            background-color: #fd7e14;
        }
    }

    .footer {
        font-size: 20px;
        color: $text;
    }
}
