.App {
    display: flex;
}

.App__Content {
    position: relative;
    left: 15%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 86%;
    background-color: aqua;
}
\
.warpper {
    padding: 2rem 15rem;
}
