$primary-color: #38cab3;
$text: #7b8191;

.containers {
    display: flex;

    .App__Content {
        padding-left: 15rem;
        flex: 7;

        .warpper {
            padding-top: 5rem;
        }
    }

    .CircularProgressbar {
        .CircularProgressbar-path {
            stroke: $primary-color !important;
        }
    }

    .status {
        border-radius: 5px;

        &.approved {
            color: green;
            background-color: rgba(0, );
        }
        &.pending {
            color: red;
            background-color: rgb(148, 3, 3);
        }
        &.Delivering {
            color: goldenrod;
            background-color: rgb(122, 90, 8);
        }
    }

    .footer {
        font-size: 20px;
        color: $text;
    }
}
