@import '../../../App.scss';

.login_from {
    background: $primary-color;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.login {
    width: 360px;
    min-height: 30rem;
    padding: 50px;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgb(51 62 73 / 10%);
}

.login_logo {
    color: $primary-color;
    word-spacing: 2px;
    font-size: 45px;
    margin: 5px 0;

    &:hover {
        cursor: pointer;
    }
}

.login_title {
    color: $primary-color;
    margin: 0;

    &:hover {
        cursor: pointer;
    }
}

.login_desc {
    font-weight: 600;
}

.from_groups {
    padding: 0 25px;
}

.from_group {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.from_label {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.375rem;
    margin-top: 9px;
    color: #212529;
}

.from_control {
    border: 1px solid #ededf5 !important;
    padding: 0.375rem 0.75rem;
    border-color: #e3e3e3;
    border-width: 1px;
    color: #14112d;
    font-weight: 500;
    height: 1.5rem;
}

.submit_btn {
    outline: none;
    border: none;
    background-color: $primary-color;
    width: 80%;
    height: 2rem;
    margin: 10px 0;
}
