@import '../../../App.scss';

.widget {
    justify-content: space-between;
    width: 24rem;
    -webkit-box-shadow: -2px 9px 16px -8px #000000;
    box-shadow: -2px 9px 16px -8px #000000;
    border-radius: 10px;
    height: 150px;

    .title {
        font-size: 14px;
        color: $text;
    }

    .counter {
        font-size: 28px;
        font-weight: 300;
    }

    .link {
        width: max-content;
        font-size: 14px;
        border-bottom: 1px solid $text;
    }

    .percentage {
        align-items: center;
        font-size: 14px;

        &.positive {
            color: green;
        }
        &.negative {
            color: green;
        }
    }
}
