.data_table {
    height: 400px;
    padding: 20px;
    width: 100%;
    font-size: 24px;

    .status {
        padding: 6px 15px;
        border-radius: 5px;
        color: #fff;
        margin: 0 auto;

        &.active {
            background-color: #24d5b8;
        }
        &.passive {
            background-color: #f34343;
        }
    }

    .fixBtn {
        background-color: #24d5b8;

        &:ho
    }
    .deleteBtn {
        // width: 30px;
        // height: 30px;
        // padding: 4px;
        // border-radius: 5px;
        // color: #fff;
        background-color: #f34343;
        // cursor: pointer;
    }
}
