.sideBar {
    width: calc(100% - 86%);
    background-color: #365262;
    color: #ebf8fe;
    padding-top: 50px;
    padding-left: 20px;
    height: 100vh;
    position: fixed;
}

.sideBar__items {
    display: flex;
    flex-direction: column;
}

.sideBar__item {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;

    &:hover {
        color: aqua;
    }

    &:active {
        hsla(0,0%,100%,0.1)
    }
}

.logout_btn {
    width: 70%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    margin: 20px;
}
